<div style="padding: 20px">
<h1>About Blog</h1>
	<p>
		Founded in 2008, The Blog is the largest, most trusted online community for developers to learn, share their knowledge, and build their careers. More than 50 million professional and aspiring programmers The Blog each month to help solve coding problems, develop new skills, and find job opportunities.
	</p>
<%= link_to 'Home', root_path %>
</div>